::placeholder{
  text-align: center;
  font-size: 14px;
  color: gray;
  background-position: 40%;
  background-size: 6%;
  background-image: url("../assets/search-solid.svg"); /* all icons in a single file */
  background-repeat: no-repeat;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
}

.postuserfont {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}


.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}


.navbar{
  height: 54px;
  background-color: #fff;
}
.navbar .logo{
  margin-left: 192px;
}

.middlearea{
  max-height: 200px !important;
}

.status-card{
  
  display: flex;
  text-decoration: none;
  flex-direction: row;
  height: 135px;
  width: 80px;

}

.status{
  display: flex;
  text-decoration: none;
  flex-direction: column;
}

.icons{
  color: black;
  position: relative;
  font-size: 23px;
  margin-left: -11px;
}

.card {
  margin-bottom: 1rem;
}

.status img{
  margin-bottom: 0.5rem;
  margin-right: .8rem;
}